[Unit]
Description=Tellybox Media Server
Documentation=https://github.com/safl/tellybox
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=tellybox
Group=tellybox
ExecStart=/usr/bin/python3 /usr/local/bin/tellybox-server.py
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tellybox-server

[Install]
WantedBy=multi-user.target
